html{
  height: 100%;
  background-color: #374140;
}

body{
  /*Body font*/
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .navbar-brand{
  /*Header font*/
  font-family: 'Indie Flower', sans-serif;
}

.parallax-1{
  /* The image used */
  background-image: url('../assets/img/parallax-1.jpeg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header{
  /*Places the text in the middle of the parallax*/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgba(240, 240, 240, 0.45);
  padding: 20px 20px;
}

.navbar{
  background: #1e1e20;
}

.nav-link, .navbar-brand{
  color: white;
}

.content-x{
  /*Page content*/
  background-color: #374140;
  padding: 16px 20px;
  color: white;
}

.content-y{
  background-color: #2A2C2B;
  padding: 16px 20px;
  color: white;
}

.carousel-image{
  max-height: 75%;
  height: auto;
}

.button{
  background-color: #1e1e20;
  color: white;
}

i.fa-heart{
  color: #DC3522;
}

.fa-twitter:hover{
  color: #00aced;
}

.fa-instagram:hover{
  color: #8a3ab9;
}

.fa-snapchat:hover{
  color: #fffc00;
}

footer{
  background-color: #1e1e20;
  color: white;
}
