html{
  height: 100%;
}

body{
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Indie Flower', sans-serif;
}

.parallax{
    /* The image used */
    background-image: url('../assets/img/parallax-laptop.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
  height:1000px;
  background-color:grey;
}
